@import "tailwindcss";

body {
  background-color: #fdf2ed;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

/* En tu globals.css o dentro de <style> */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}

.scroll-fade {
  position: relative;
}

.scroll-fade::before,
.scroll-fade::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px;
  height: 100%;
  pointer-events: none; /* para que no bloquee el scroll */
  z-index: 10;
}

.scroll-fade::before {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.scroll-fade::after {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
}

.animate-bounce-slow {
  animation: bounce-slow 1.5s infinite;
}
